body {
    font-family: Arial, sans-serif;
    background-color:rgb(41, 38, 38);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h2 {
    color: #e23744;
}

form {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #e23744;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.sam a{
    text-decoration: none;
    color: black;
}
p{
    color: #e23744;
}
img{
    height: 2.8rem;
  width: 13.2rem;
  color: #fff;
}
    